body {
	background-image: url('kukoc1.jpg');	/* https://www.nba.com/bulls/features/overlooked-star-toni-kukoc */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family:"Helvetica";
}

#container{
	background: rgba(0, 0, 0, 0.4);
	width: 1200px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background: rgba(0, 0, 0, 0.7);
	color:white;
	text-align:center;
	font-size:18px; 
	width:1200px;
	margin-left: auto;
	margin-right: auto;
	font-family:"Courier";
}

#header2{
	color:white;
	text-align:center;
	font-size:35px; 
	font-weight:bold;
	width:1200px;
	position:absolute;
	top:120px;
	font-family:"Courier";
}

#content{
	padding-right:20px;
}

#nav{
	text-align:center;
	position: absolute;
	top:290px;
	width:140px;
	float:left;
}

#main{
	background: rgba(0, 0, 0, 0.5);
	position:relative;
	top:75px;
	color:white;
	width:1025px;
	height:600px;
	float:right;
}

#graph{
	background: rgba(0, 0, 0, 0);
	color:white;
	width:900px;
	height:600px;
	float:left;
}

#checkboxes{
	text-align:center;
	background: rgba(0, 0, 0, 0);
	color:white;
	width:125px;
	height:350px;
	float:right;
	font-size:22px;
	position: relative;
	top:250px;	
}

#footer{
	background: rgba(0, 0, 0, 0.7);
	text-align:center;
	color: white;
	clear: both;	
    position: absolute;
    bottom: 13px;
	width:1200px;
}

.buttonSeason {
	border: 0px;
	text-align: center;
	font-family:"Courier";
	font-weight:bold;
	font-size:15px;
	padding: 5px 14px;
	margin:10px;
	background-color:#000000;
	color:white;
	width:90px;
}

.buttonSeason:hover{
  background-color: #5c5c5c;
  }
  
input[type=checkbox]{
	display:none;
}   

input[type=checkbox] + label{
	padding: 5px 20px;
	font-size: 18px;
	background: #AAAAAA;
	color: #FFFFFF;
	border: none;
	border-radius: 2px;
	cursor: pointer;
} 


input[type=checkbox] + label.btn1:hover{
	background: #FF8000;
}
input[type=checkbox]:checked + label.btn1{
	background: #FF8000;
}

input[type=checkbox] + label.btn2:hover{
	background: #66B2FF;
}
input[type=checkbox]:checked + label.btn2{
	background: #66B2FF;
}

input[type=checkbox] + label.btn3:hover{
	background: #99FF33;
}
input[type=checkbox]:checked + label.btn3{
	background: #99FF33;
}

.axisColor line{
  stroke: white;
}

.axisColor path{
  stroke: gray;
}
.axisColor text{
  fill: white;
  font-size:12px;
}  